.main-illustration__image {
  width: 611px;
  height: 633px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 1280px) {
  .main-illustration__image {
    width: 450px;
    height: auto;
  }
}

@media (max-width: 1024px) {
  .main-illustration__image {
    width: 350px;
  }
}

@media (max-width: 768px) {
  .main-illustration__image {
    width: 230px;
  }
}

@media (max-width: 425px) {
  .main-illustration__image {
    width: 140px;
  }
}
