.carousel__item-description_checked {
  margin-top: 31px;
  column-gap: 84px;
}

@media (max-width: 1280px) {
  .carousel__item-description_checked {
    margin-top: 27px;
    column-gap: 70px;
  }
}

@media (max-width: 1024px) {
  .carousel__item-description_checked {
    margin-top: 24px;
    column-gap: 50px;
  }
}

@media (max-width: 768px) {
  .carousel__item-description_checked {
    margin-top: 22px;
    column-gap: 40px;
  }
}