.description__link-text {
  color: var(--color9);
  font-family: var(--auxiliary-font);
  font-style: var(--normal-style);
  font-weight: var(--normal);
  font-size: 18px;
  line-height: 23px;
}

@media (max-width: 1024px) {
  .description__link-text {
    font-size: 12px;
    line-height: 20px;
  }
}

@media (max-width: 425px) {
  .description__link-text {
    font-size: 10px;
    line-height: 15px;
  }
}
