.modal__image {
  width: 100px;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

@media (max-width: 1024px) {
  .modal__image {
    width: 80px;
  }
}

@media (max-width: 768px) {
  .modal__image {
    width: 60px;
  }
}