.body {
  margin: 0 auto;
  max-width: 1440px;
  min-width: 320px;
  background-color: var(--color2);
  display: grid;
  grid-template-columns: 540px auto;
  grid-template-rows: repeat(7, auto);
  grid-template-areas:
    "main-illustration header"
    "main-illustration description"
    "learn-illustration about-us"
    "popular popular"
    "trending trending"
    "offers offers"
    "footer footer";
}
