.body {
  margin: 0 auto;
  position: relative;
  max-width: 1440px;
  min-width: 320px;
  background-color: var(--color2);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 540px auto;
  grid-template-columns: 540px auto;
  -ms-grid-rows: repeat(7, auto);
  grid-template-rows: repeat(7, auto);
  grid-template-areas:
    "main-illustration header"
    "main-illustration description"
    "learn-illustration about-us"
    "popular popular"
    "trending trending"
    "offers offers"
    "footer footer";
}

@media (max-width: 1280px) {
  .body {
    -ms-grid-columns: 400px minmax(625px, 880px);
    grid-template-columns: 400px minmax(625px, 880px);
  }
}

@media (max-width: 1024px) {
  .body {
    -ms-grid-columns: 300px minmax(469px, 725px);
    grid-template-columns: 300px minmax(469px, 725px);
  }
}

@media (max-width: 768px) {
  .body {
    -ms-grid-columns: 200px minmax(226px, 568px);
    grid-template-columns: 200px minmax(226px, 568px);
  }
}

@media (max-width: 425px) {
  .body {
    -ms-grid-columns: 120px minmax(205px, 305px);
    grid-template-columns: 120px minmax(205px, 305px);
  }
}
