.body {
  min-width: 320px;
  background-color: var(--color2);
  display: grid;
  grid-template-columns: 540px auto;
  /* величина рядов будет скорректирована */
  /* grid-template-rows: 76px 770px 720px 1037px 1280px 640px 138px; */
  grid-template-rows: 179px auto auto auto auto auto minmax(300px, 400px);
  grid-template-areas:
    "main-illustration header"
    "main-illustration description"
    "learn-illustration about-us"
    "popular popular"
    "trending trending"
    "offers offers"
    "footer footer";
}
