.about-us__text {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-style: normal;
  font-weight: var(--normal);
  font-size: 18px;
  line-height: 36px;
  letter-spacing: -0.01em;
  color: var(--color6);
  opacity: 0.8;
  max-width: 608px;
}

@media (max-width: 1280px) {
  .about-us__text {
    font-size: 16px;
    line-height: 32px;
    max-width: 540px;
  }
}

@media (max-width: 1024px) {
  .about-us__text {
    font-size: 13px;
    line-height: 27px;
    max-width: 435px;
  }
}

@media (max-width: 768px) {
  .about-us__text {
    font-size: 12px;
    line-height: 25px;
    max-width: 400px;
  }
}

@media (max-width: 425px) {
  .about-us__text {
    font-size: 10px;
    line-height: 15px;
    max-width: 230px;
  }
}
