.carousel__item-rating {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-style: normal;
  font-weight: var(--normal);
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -0.01em;
  color: var(--color2);
}

.carousel__item-rating::before {
  display: inline-block;
  content: url(/src/images/icons/iconRating.svg);
  margin-right: 10px;
  width: 20px;
  height: 19px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 1280px) {
  .carousel__item-rating {
    font-size: 18px;
    line-height: 23px;
  }
  
  .carousel__item-rating::before {
    margin-right: 9px;
    width: 18px;
    height: 16.5px;
  }
}

@media (max-width: 1024px) {
  .carousel__item-rating {
    font-size: 12px;
    line-height: 20px;
  }
  
  .carousel__item-rating::before {
    content: url(/src/images/icons/iconRatingMedium.svg);
    margin-right: 5px;
    width: 15px;
    height: 13.5px;
  }
}

@media (max-width: 768px) {
  .carousel__item-rating {
    font-size: 10px;
    line-height: 15px;
  }
  
  .carousel__item-rating::before {
    content: url(/src/images//icons/iconRatingSmall.svg);
    margin-right: 3px;
    width: 10px;
    height: 8px;
  }
}