.description__description {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-style: normal;
  font-weight: var(--normal);
  font-size: 18px;
  line-height: 36px;
  letter-spacing: -0.01em;
  color: var(--color6);
  opacity: var(--little-transparent);
  max-width: 631px;
  margin: 0 85px 42px 184px;
}

@media (max-width: 1280px) {
  .description__description {
    margin: 0 60px 30px 129px;
  }
}

@media (max-width: 1024px) {
  .description__description {
    margin: 0 100px 25px 100px;
  }
}

@media (max-width: 768px) {
  .description__description {
    max-width: 350px;
    font-size: 12px;
    line-height: 20px;
    margin: 0 30px 20px 70px;
  }
}

@media (max-width: 425px) {
  .description__description {
    margin: 0 30px 15px 60px;
    font-size: 10px;
    line-height: 15px;
  }
}