.description__happy-customer-example-image {
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@media (max-width: 768px) {
  .description__happy-customer-example-image {
    width: 30px;
    height: 30px;
  }
}
