.learn-illustration__link-text {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-style: normal;
  font-weight: var(--medium);
  font-size: 18px;
  line-height: 23px;
}

@media (max-width: 1024px) {
  .learn-illustration__link-text {
    font-size: 12px;
    line-height: 20px;
  }
}

@media (max-width: 768px) {
  .learn-illustration__link-text {
    font-size: 10px;
    line-height: 15px;
  }
}
