@media (max-width: 1280px) {
  .links_place_footer {
    flex-direction: column;
    row-gap: 15px;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .links_place_footer {
    row-gap: 7px;
  }
}
