@media (max-width: 768px) {
  .links_place_header {
    visibility: hidden;
    opacity: var(--transparent);
    position: absolute;
    top: 15px;
    right: 80px;
    background-color: var(--color1);
    border-radius: var(--xs-border-radius);
    width: 70px;
    padding: 5px;
  }

  .links__container:hover .links_place_header {
    visibility: visible;
    opacity: var(--visible);
    z-index: 10;
    -webkit-transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  }

  .links_place_header:hover .links_place_header {
    visibility: visible;
    opacity: var(--visible);
    z-index: 10;
    -webkit-transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  }
}

@media (max-width: 425px) {
  .links_place_header {
    top: 7px;
    right: 55px;
  }
}
