.trending__item-list-unit {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-style: normal;
  font-weight: var(--medium);
  font-size: 16px;
  line-height: 32px;
  color: var(--color8);
  width: 143px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.trending__item-list-unit::before {
  display: inline-block;
  content: url(/src/images/icons/iconCheck.svg);
  margin-right: 12px;
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 1024px) {
  .trending__item-list-unit {
    font-size: 14px;
    line-height: 26px;
    width: 130px;
  }

  .trending__item-list-unit::before {
    margin-right: 11px;
    width: 20px;
    height: 20px;
    content: url(/src/images/icons/iconCheckMedium.svg);
  }
}

@media (max-width: 768px) {
  .trending__item-list-unit {
    font-size: 12px;
    line-height: 20px;
    width: 120px;
  }
}

@media (max-width: 425px) {
  .trending__item-list-unit {
    font-size: 10px;
    line-height: 15px;
    width: 90px;
  }

  .trending__item-list-unit::before {
    margin-right: 8px;
    width: 14px;
    height: 14px;
    content: url(/src/images/icons/iconCheckSmall.svg);
  }
}
