.button-change-bg-color {
  -webkit-transition: background-color 250ms;
  -o-transition: background-color 250ms;
  transition: background-color 250ms;
  isolation: isolate;
  overflow: hidden;
  z-index: 10;
}

.button-change-bg-color:hover,
.button-change-bg-color:focus-visible {
  background-color: var(--color5);
}

.button-change-bg-color > .button-change-bg-color__span {
  position: absolute;
  z-index: -1;
  width: 33.333%;
  height: 100%;
  background-color: transparent;
  opacity: var(--translucent);
}

.button-change-bg-color > :first-child {
  left: 0;
  top: 0;
}

.button-change-bg-color > :last-child {
  right: 0;
  top: 0;
}

.button-change-bg-color::before {
  content: "";
  position: absolute;
  z-index: -1;
  background-color: var(--color8);
  width: 10%;
  aspect-ratio: 1;
  border-radius: 50%;
  inset: 0;
  margin: auto;
  opacity: var(--transparent);
  -webkit-transition: opacity 200ms, -webkit-transform 1000ms 200ms;
  transition: opacity 200ms, -webkit-transform 1000ms 200ms;
  -o-transition: transform 1000ms 200ms, opacity 200ms;
  transition: transform 1000ms 200ms, opacity 200ms;
  transition: transform 1000ms 200ms, opacity 200ms,
    -webkit-transform 1000ms 200ms;
}

.button-change-bg-color:active::before {
  -webkit-transform: scale(20);
  -ms-transform: scale(20);
  transform: scale(20);
  opacity: var(--visible);
  -webkit-transition: opacity 500ms, -webkit-transform 1000ms;
  transition: opacity 500ms, -webkit-transform 1000ms;
  -o-transition: transform 1000ms, opacity 500ms;
  transition: transform 1000ms, opacity 500ms;
  transition: transform 1000ms, opacity 500ms, -webkit-transform 1000ms;
}

.button-change-bg-color:has(:first-child:active)::before {
  margin-left: 0;
}

.button-change-bg-color:has(:last-child:active)::before {
  margin-right: 0;
}

.button-change-bg-color:has(:first-child:active)::before,
.button-change-bg-color:has(:last-child:active)::before {
  -webkit-transition: opacity 250ms, -webkit-transform 500ms;
  transition: opacity 250ms, -webkit-transform 500ms;
  -o-transition: transform 500ms, opacity 250ms;
  transition: transform 500ms, opacity 250ms;
  transition: transform 500ms, opacity 250ms, -webkit-transform 500ms;
}
