.button-change-bg-color {
  transition: background-color 250ms;
  isolation: isolate;
  overflow: hidden;
}

.button-change-bg-color:hover,
.button-change-bg-color:focus-visible {
  background-color: var(--color5);
}

.button-change-bg-color > .button-change-bg-color__span {
  position: absolute;
  z-index: -1;
  width: 33.333%;
  height: 100%;
  background-color: transparent;
  opacity: 0.5;
}

.button-change-bg-color > :first-child {
  left: 0;
  top: 0;
}

.button-change-bg-color > :last-child {
  right: 0;
  top: 0;
}

.button-change-bg-color::before {
  content: "";
  position: absolute;
  z-index: -1;
  background-color: var(--color8);
  width: 10%;
  aspect-ratio: 1;
  border-radius: 50%;
  inset: 0;
  margin: auto;
  opacity: 0;
  transition: transform 1000ms 200ms, opacity 200ms;
}

.button-change-bg-color:active::before {
  transform: scale(20);
  opacity: 1;
  transition: transform 1000ms, opacity 500ms;
}

.button-change-bg-color:has(:first-child:active)::before {
  margin-left: 0;
}

.button-change-bg-color:has(:last-child:active)::before {
  margin-right: 0;
}

.button-change-bg-color:has(:first-child:active)::before,
.button-change-bg-color:has(:last-child:active)::before {
  transition: transform 500ms, opacity 250ms;
}
