.learn-illustration__text {
  display: block;
  font-family: var(--additional-font);
  font-style: normal;
  font-weight: var(--bold);
  font-size: 120px;
  line-height: 138px;
  color: var(--color1);
  opacity: var(--medium-transparent);
  max-width: 120px;
  position: absolute;
}

@media (max-width: 1280px) {
  .learn-illustration__text {
    font-size: 100px;
    line-height: 115px;
    max-width: 100px;
  }
}

@media (max-width: 1024px) {
  .learn-illustration__text {
    font-size: 80px;
    line-height: 92px;
    max-width: 80px;
  }
}

@media (max-width: 768px) {
  .learn-illustration__text {
    font-size: 60px;
    line-height: 69px;
    max-width: 60px;
  }
}

@media (max-width: 425px) {
  .learn-illustration__text {
    font-size: 33px;
    line-height: 38px;
    max-width: 33px;
  }
}