.about-us__header {
  font-family: var(--auxiliary-font);
  font-style: var(--normal-style);
  font-weight: var(--normal);
  font-size: 18px;
  line-height: 36px;
  letter-spacing: var(--small-ls);
  color: var(--color1);
  opacity: var(--little-transparent);
  margin-bottom: 16px;
}

@media (max-width: 1280px) {
  .about-us__header {
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 14px;
  }
}

@media (max-width: 1024px) {
  .about-us__header {
    font-size: 13px;
    line-height: 27px;
    margin-bottom: 12px;
  }
}

@media (max-width: 768px) {
  .about-us__header {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 9px;
  }
}

@media (max-width: 425px) {
  .about-us__header {
    font-size: 10px;
    line-height: 15px;
    margin-bottom: 8px;
  }
}