.modal__close-button {
  position: absolute;
  right: -30px;
  top: -30px;
  color: var(--color2);
  float: right;
  font-size: 45px;
  font-weight: bold;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.modal__close-button:hover,
.modal__close-button:focus {
  color: var(--color9);
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .modal__close-button {
    right: -24px;
    top: -24px;
    font-size: 36px;
  }
}

@media (max-width: 768px) {
  .modal__close-button {
    right: 0;
    font-size: 27px;
  }
}
