.popular__header {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 78px;
  text-align: center;
  color: var(--color2);
  margin-bottom: 48px;
}

@media (max-width: 1280px) {
  .popular__header {
    font-size: 48px;
    line-height: 67px;
    margin-bottom: 40px;
  }
}

@media (max-width: 1024px) {
  .popular__header {
    font-size: 40px;
    line-height: 56px;
    margin-bottom: 32px;
  }
}

@media (max-width: 768px) {
  .popular__header {
    font-size: 30px;
    line-height: 45px;
    margin-bottom: 20px;
  }
}

@media (max-width: 425px) {
  .popular__header {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 12px;
  }
}