.description__happy-customer-example {
  display: flex;
  justify-content: left;
  align-items: center;
  column-gap: 24px;
}

@media (max-width: 1024px) {
  .description__happy-customer-example {
    column-gap: 10px;
  }
}
