.footer {
  grid-area: footer;
  background-color: var(--color10);
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
  column-gap: 153px;
  padding: 48px 149px 48px 0;
}

@media (max-width: 1280px) {
  .footer {
    column-gap: 80px;
  }
}


@media (max-width: 768px) {
  .footer {
    padding: 20px 30px 20px 0;
    column-gap: 20px;
  }
}
