.footer {
  grid-area: footer;
  background-color: var(--color10);
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
  column-gap: 153px;
  padding: 48px 149px 48px 0;
}
