.carousel__items {
  width: 100%;
  max-width: 970px;
  box-sizing: border-box;
  display: flex;
  justify-content: start;
  align-items: end;
  column-gap: 56px;
  position: relative;
  overflow: hidden;
  transition: transform 0.5s ease;
}

@media (max-width: 1439px) {
  .carousel__items {
    column-gap: 50px;
  }
}

@media (max-width: 1280px) {
  .carousel__items {
    column-gap: 35px;
    max-width: 830px;
  }
}

@media (max-width: 1024px) {
  .carousel__items {
    column-gap: 25px;
    max-width: 610px;
  }
}

@media (max-width: 768px) {
  .carousel__items {
    column-gap: 20px;
    max-width: 200px;
  }
}