.not-found-page__link-image {
  width: 47px;
  height: 47px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transform: rotate(180deg);
  -webkit-transition: scale 0.5s ease;
  -o-transition: scale 0.5s ease;
  transition: scale 0.5s ease;
}

.not-found-page__link-container:hover > .not-found-page__link-image {
  scale: 120%;
}

@media (max-width: 1024px) {
  .not-found-page__link-image {
    width: 32px;
    height: 32px;
  }
}

@media (max-width: 425px) {
  .not-found-page__link-image {
    width: 30px;
    height: 30px;
  }
}
