.trending__image-block-text_order_first {
  top: 64px;
  right: 80px;
}

@media (max-width: 768px) {
  .trending__image-block-text_order_first {
    top: 6px;
    right: 35%;
  }
}

@media (max-width: 425px) {
  .trending__image-block-text_order_first {
    top: 12px;
    right: 35%;
  }
}