/* первоначальные стили для 1440px */
@import url(../blocks/body/body.css);

@import url(../blocks/header/header.css);

@import url(../blocks/main-illustration/main-illustration.css);

@import url(../blocks/logo/logo.css);
@import url(../blocks/logo/_place/logo_place_header.css);
@import url(../blocks/logo/_place/logo_place_footer.css);

@import url(../blocks/learn-illustration/learn-illustration.css);

@import url(../blocks/description/description.css);
@import url(../blocks/description/__header/description__header.css);
@import url(../blocks/description/__description/description__description.css);
@import url(../blocks/description/__links/description__links.css);
@import url(../blocks/description/__link/description__link.css);
@import url(../blocks/description/__link/_to/description__link_to_order.css);
@import url(../blocks/description/__link/_to/description__link_to_instructions.css);
@import url(../blocks/description/__link-image/description__link-image.css);
@import url(../blocks/description/__link-text/description__link-text.css);

@import url(../blocks/search/search.css);

@import url(../blocks/links/links.css);
@import url(../blocks/links/__item/links__item.css);

@import url(../blocks/about-us/about-us.css);

@import url(../blocks/popular/popular.css);

@import url(../blocks/trending/trending.css);

@import url(../blocks/offers/offers.css);

@import url(../blocks/footer/footer.css);
/* цвета для использования */
:root {
  --color1: #b1454a;
  --color2: #ffffff;
  --color3: #1f1e31;
  --color4: #888888;
  --color5: #555555;
  --color6: #121212;
  --color7: #333333;
  --color8: #121211;
  --color9: #020202;
  --color10: #FFF0DE;
}