/* первоначальные стили для 1440px */
@import url(../blocks/body/body.css);

@import url(../blocks/header/header.css);

@import url(../blocks/main-illustration/main-illustration.css);
@import url(../blocks/main-illustration/__image/main-illustration__image.css);
@import url(../blocks/main-illustration/__header/main-illustration__header.css);

@import url(../blocks/logo/logo.css);
@import url(../blocks/logo/_place/logo_place_header.css);
@import url(../blocks/logo/_place/logo_place_footer.css);
@import url(../blocks/logo/__image/logo__image.css);

@import url(../blocks/learn-illustration/learn-illustration.css);
@import url(../blocks/learn-illustration/__link/learn-illustration__link.css);
@import url(../blocks/learn-illustration/__link-text/learn-illustration__link-text.css);
@import url(../blocks/learn-illustration/__link-image/learn-illustration__link-image.css);
@import url(../blocks/learn-illustration/__container/learn-illustration__container.css);
@import url(../blocks/learn-illustration/__image/learn-illustration__image.css);
@import url(../blocks/learn-illustration/__image/_with/learn-illustration__image_with_salmon.css);
@import url(../blocks/learn-illustration/__image/_with/learn-illustration__image_with_shimps.css);
@import url(../blocks/learn-illustration/__text/learn-illustration__text.css);
@import url(../blocks/learn-illustration/__text/_for/learn-illustration__text_for_salmon.css);
@import url(../blocks/learn-illustration/__text/_for/learn-illustration__text_for_shimps.css);

@import url(../blocks/description/description.css);
@import url(../blocks/description/__header/description__header.css);
@import url(../blocks/description/__description/description__description.css);
@import url(../blocks/description/__links/description__links.css);
@import url(../blocks/description/__link/description__link.css);
@import url(../blocks/description/__link/_to/description__link_to_order.css);
@import url(../blocks/description/__link/_to/description__link_to_instructions.css);
@import url(../blocks/description/__link-image/description__link-image.css);
@import url(../blocks/description/__link-text/description__link-text.css);

@import url(../blocks/description/__happy-customer/description__happy-customer.css);
@import url(../blocks/description/__happy-customer-quantity/description__happy-customer-quantity.css);
@import url(../blocks/description/__happy-customer-header/description__happy-customer-header.css);
@import url(../blocks/description/__happy-customer-example/description__happy-customer-example.css);
@import url(../blocks/description/__happy-customer-example-image/description__happy-customer-example-image.css);
@import url(../blocks/description/__happy-customer-example-text/description__happy-customer-example-text.css);

@import url(../blocks/search/search.css);
@import url(../blocks/search/__input/search__input.css);
@import url(../blocks/search/__button/search__button.css);
@import url(../blocks/search/__button-image/search__button-image.css);

@import url(../blocks/links/links.css);
@import url(../blocks/links/_place/links_place_header.css);
@import url(../blocks/links/_place/links_place_footer.css);
@import url(../blocks/links/__item/links__item.css);
@import url(../blocks/links/__item/_place/links__item_place_header.css);

@import url(../blocks/about-us/about-us.css);
@import url(../blocks/about-us/__header/about-us__header.css);
@import url(../blocks/about-us/__description/about-us__description.css);
@import url(../blocks/about-us/__text/about-us__text.css);

@import url(../blocks/popular/popular.css);
@import url(../blocks/popular/__header/popular__header.css);
@import url(../blocks/popular/__list-items/popular__list-items.css);
@import url(../blocks/popular/__list-item/popular__list-item.css);
@import url(../blocks/popular/__list-item/_checked/popular__list-item_checked.css);
@import url(../blocks/popular/__list-item-image/popular__list-item-image.css);
@import url(../blocks/popular/__link/popular__link.css);
@import url(../blocks/popular/__link-text/popular__link-text.css);
@import url(../blocks/popular/__link-text-arrow/popular__link-text-arrow.css);

@import url(../blocks/carousel/carousel.css);
@import url(../blocks/carousel/__arrow/casousel__arrow.css);
@import url(../blocks/carousel/__arrow/_to/carousel__arrow_to_left.css);
@import url(../blocks/carousel/__items/carousel__items.css);
@import url(../blocks/carousel/__item/carousel__item.css);
@import url(../blocks/carousel/__item/_checked/carousel__item_checked.css);
@import url(../blocks/carousel/__item-image/carousel__item-image.css);
@import url(../blocks/carousel/__item-image/_checked/carousel__item-image_checked.css);
@import url(../blocks/carousel/__item-header/carousel__item-header.css);
@import url(../blocks/carousel/__item-header/_checked/carousel__item-header_checked.css);
@import url(../blocks/carousel/__item-description/carousel__item-description.css);
@import url(../blocks/carousel/__item-description/_checked/carousel__item-description_checked.css);
@import url(../blocks/carousel/__item-rating/carousel__item-rating.css);
@import url(../blocks/carousel/__item-rating/_checked/carousel__item-rating_checked.css);
@import url(../blocks/carousel/__item-price/carousel__item-price.css);
@import url(../blocks/carousel/__item-price/_checked/carousel__item-price_checked.css);

@import url(../blocks/trending/trending.css);
@import url(../blocks/trending/__item/trending__item.css);
@import url(../blocks/trending/__item-header/trending__item-header.css);
@import url(../blocks/trending/__item-description/trending__item-description.css);
@import url(../blocks/trending/__item-text/trending__item-text.css);
@import url(../blocks/trending/__item-list/trending__item-list.css);
@import url(../blocks/trending/__item-list-unit/trending__item-list-unit.css);
@import url(../blocks/trending/__image-block/trending__image-block.css);
@import url(../blocks/trending/__image-block/_changed/trending__image-block_changed.css);
@import url(../blocks/trending/__image/trending__image.css);
@import url(../blocks/trending/__image/_order/trending__image_order_first.css);
@import url(../blocks/trending/__image/_order/trending__image_order_second.css);
@import url(../blocks/trending/__image-block-text/trending__image-block-text.css);
@import url(../blocks/trending/__image-block-text/_order/trending__image-block-text_order_first.css);
@import url(../blocks/trending/__image-block-text/_order/trending__image-block-text_order_second.css);

@import url(../blocks/offers/offers.css);
@import url(../blocks/offers/__header/offers__header.css);
@import url(../blocks/offers/__description/offers__description.css);
@import url(../blocks/offers/__form/offers__form.css);
@import url(../blocks/offers/__form-input/offers__form-input.css);
@import url(../blocks/offers/__form-button/offers__form-button.css);
@import url(../blocks/offers/__background/offers__background.css);
@import url(../blocks/offers/__background/_side/offers__background_side_left.css);
@import url(../blocks/offers/__background/_side/offers__background_side_right.css);

@import url(../blocks/footer/footer.css);

@import url(../blocks/social-media-links/social-media-links.css);
@import url(../blocks/social-media-links/__item/social-media-links__item.css);
@import url(../blocks/social-media-links/__item-image/social-media-links__item-image.css);

/* модальное окно - для подтверждения успешной отправки письма */
@import url(../blocks/modal/modal.css);
@import url(../blocks/modal/__background/modal__background.css);
@import url(../blocks/modal/__background/_side/modal__background_side_left.css);
@import url(../blocks/modal/__background/_side/modal__background_side_botton.css);
@import url(../blocks/modal/__container/modal__container.css);
@import url(../blocks/modal/__close-button/modal__close-button.css);
@import url(../blocks/modal/__header/modal__header.css);
@import url(../blocks/modal/__description/modal__description.css);
@import url(../blocks/modal/__image/modal__image.css);

/* бургер-меню для заголовка */
@import url(../blocks/burger-button/burger-button.css);

/* поведение ссылок и кнопок */
@import url(../blocks/button-change-bg-color/button-change-bg-color.css);

:root {
  /* цвета для использования */
  --color1: #b1454a;
  --color2: #ffffff;
  --color3: #1f1e31;
  --color4: #888888;
  --color5: #555555;
  --color6: #121212;
  --color7: #333333;
  --color8: #121211;
  --color9: #020202;
  --color10: #fff0de;
  /* начертание шрифта */
  --bold: 700;
  --semi-bold: 600;
  --medium: 500;
  --normal: 400;
  /* непрозрачность элемента */
  --visible: 1;
  --little-transparent: 0.8;
  --translucent: 0.5;
  --medium-transparent: 0.1;
  --almost-transparent: 0.05;
  --transparent: 0;
  /* семейство шрифтов */
  --main-font: "Playfair Display", serif;
  --auxiliary-font: "Plus Jakarta Sans", sans-serif;
  --additional-font: Arial, Helvetica, sans-serif;
  /* стиль шрифта */
  --normal-style: normal;
  /* радиус границы */
  --xl-border-radius: 50%;
  --l-border-radius: 64px;
  --m-border-radius: 46px;
  --s-border-radius: 36px;
  --xs-border-radius: 12px;
}

html {
  scroll-behavior: smooth;
}
