@import url(../blocks/not-found-page/not-found-page.css);
@import url(../blocks/not-found-page/__header/not-found-page__header.css);
@import url(../blocks/not-found-page/__description/not-found-page__description.css);
@import url(../blocks/not-found-page/__link-container/not-found-page__link-container.css);
@import url(../blocks/not-found-page/__link-image/not-found-page__link-image.css);
@import url(../blocks/not-found-page/__link-text/not-found-page__link-text.css);
@import url(../blocks/not-found-page/__background/not-found-page__background.css);

:root {
  /* цвета для использования */
  --color1: #b1454a;
  --color2: #ffffff;
  --color3: #1f1e31;
  --color4: #888888;
  --color5: #555555;
  --color6: #121212;
  --color7: #333333;
  --color8: #121211;
  --color9: #020202;
  --color10: #fff0de;
  /* начертание шрифта */
  --bold: 700;
  --semi-bold: 600;
  --medium: 500;
  --normal: 400;
  /* непрозрачность элемента */
  --visible: 1;
  --little-transparent: 0.8;
  --translucent: 0.5;
  --medium-transparent: 0.1;
  --almost-transparent: 0.05;
  --transparent: 0;
  /* семейство шрифтов */
  --main-font: "Playfair Display", serif;
  --auxiliary-font: "Plus Jakarta Sans", sans-serif;
  --additional-font: Arial, Helvetica, sans-serif;
  /* стиль шрифта */
  --normal-style: normal;
  /* радиус границы */
  --xl-border-radius: 50%;
  --l-border-radius: 64px;
  --m-border-radius: 46px;
  --s-border-radius: 36px;
  --xs-border-radius: 12px;
  /* межбуквенное расстояние в тексте */
  --normal-ls: -0.02em;
  --small-ls: -0.01em;
}
