.popular__list-item {
  height: 64px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: var(--m-border-radius);
  font-family: var(--auxiliary-font);
  font-style: var(--normal-style);
  font-weight: var(--normal);
  font-size: 20px;
  line-height: 25px;
  letter-spacing: var(--small-ls);
  color: var(--color2);
  padding: 0 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
  -webkit-transition: background-color 0.5s ease, color 0.5s ease;
  -o-transition: background-color 0.5s ease, color 0.5s ease;
  transition: background-color 0.5s ease, color 0.5s ease;
  cursor: pointer;
}

.popular__list-item:hover {
  background-color: var(--color2);
  color: var(--color1);
}

@media (max-width: 1280px) {
  .popular__list-item {
    height: 60px;
    font-size: 18px;
    line-height: 23px;
    padding: 0 20px;
  }
}

@media (max-width: 1024px) {
  .popular__list-item {
    height: 43px;
    font-size: 12px;
    line-height: 20px;
    padding: 0 15px;
    -webkit-column-gap: 7px;
    -moz-column-gap: 7px;
    column-gap: 7px;
  }
}

@media (max-width: 768px) {
  .popular__list-item {
    font-size: 10px;
    line-height: 15px;
    padding: 0 10px;
  }
}

@media (max-width: 425px) {
  .popular__list-item {
    height: 30px;
    padding: 0 7px;
    -webkit-column-gap: 5px;
    -moz-column-gap: 5px;
    column-gap: 5px;
  }
}
