.logo {
  z-index: 10;
  width: 128px;
  height: 32px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  text-decoration: none;
}

@media (max-width: 768px) {
  .logo {
    width: 90px;
    height: 14px;
  }
}

@media (max-width: 425px) {
  .logo {
    width: 70px;
    height: 16px;
  }
}
