.not-found-page__description {
  font-family: var(--auxiliary-font);
  font-style: var(--normal-style);
  font-weight: var(--normal);
  font-size: 18px;
  line-height: 36px;
  letter-spacing: var(--small-ls);
  color: var(--color1);
  opacity: var(--little-transparent);
  max-width: 900px;
  text-align: center;
}

@media (max-width: 1280px) {
  .not-found-page__description {
    font-size: 16px;
    line-height: 32px;
    max-width: 700px;
  }
}

@media (max-width: 1024px) {
  .not-found-page__description {
    font-size: 13px;
    line-height: 27px;
    max-width: 550px;
  }
}

@media (max-width: 768px) {
  .not-found-page__description {
    font-size: 12px;
    line-height: 20px;
    max-width: 400px;
  }
}

@media (max-width: 425px) {
  .not-found-page__description {
    font-size: 10px;
    line-height: 15px;
    max-width: 250px;
  }
}
