.description__happy-customer-header {
  width: 173px;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.02em;
  color: var(--color8);
  opacity: 0.5;
  padding-right: 78px;
}
