.links {
  display: flex;
  column-gap: 64px;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

@media (max-width: 1280px) {
  .links {
    column-gap: 32px;
  }
}

@media (max-width: 768px) {
  .links {
    flex-direction: column;
    row-gap: 7px;
    align-items: center;
  }
}
