.offers__description {
  font-family: var(--auxiliary-font);
  font-style: normal;
  font-weight: var(--normal);
  font-size: 18px;
  line-height: 36px;
  letter-spacing: -0.01em;
  color: var(--color2);
  opacity: var(--little-transparent);
  margin-bottom: 40px;
}

@media (max-width: 1280px) {
  .offers__description {
    margin-bottom: 30px;
  }
}

@media (max-width: 1024px) {
  .offers__description {
    margin-bottom: 25px;
  }
}

@media (max-width: 768px) {
  .offers__description {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 20px;
  }
}

@media (max-width: 425px) {
  .offers__description {
    font-size: 10px;
    line-height: 15px;
    margin-bottom: 15px;
  }
}
