.modal__description {
  font-family: var(--auxiliary-font);
  font-style: normal;
  font-weight: var(--normal);
  font-size: 18px;
  line-height: 36px;
  letter-spacing: -0.01em;
  color: var(--color1);
  opacity: var(--little-transparent);
}

@media (max-width: 1024px) {
  .modal__description {
    font-size: 13px;
    line-height: 27px;
  }
}

@media (max-width: 768px) {
  .modal__description {
    font-size: 12px;
    line-height: 20px;
  }
}
