.offers__background {
  font-family: var(--additional-font);
  background-color: transparent;
  font-style: var(--normal-style);
  font-weight: var(--bold);
  font-size: 240px;
  line-height: 276px;
  color: var(--color2);
  opacity: var(--almost-transparent);
  max-width: 240px;
  position: absolute;
}

@media (max-width: 1280px) {
  .offers__background {
    font-size: 210px;
    line-height: 242px;
    max-width: 210px;
  }
}

@media (max-width: 1024px) {
  .offers__background {
    font-size: 168px;
    line-height: 190px;
    max-width: 168px;
  }
}

@media (max-width: 768px) {
  .offers__background {
    font-size: 126px;
    line-height: 143px;
    max-width: 126px;
  }
}

@media (max-width: 425px) {
  .offers__background {
    font-size: 70px;
    line-height: 79px;
    max-width: 70px;
  }
}
