.carousel__arrow {
  width: 80px;
  height: 80px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  -webkit-transition: scale 0.5s ease;
  -o-transition: scale 0.5s ease;
  transition: scale 0.5s ease;
}

.carousel__arrow:hover {
  scale: 120%;
}

@media (max-width: 1439px) {
  .carousel__arrow {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 1024px) {
  .carousel__arrow {
    width: 43px;
    height: 43px;
  }
}

@media (max-width: 768px) {
  .carousel__arrow {
    width: 32px;
    height: 32px;
  }
}

@media (max-width: 425px) {
  .carousel__arrow {
    width: 30px;
    height: 30px;
  }
}
