.links__item {
  font-family: var(--auxiliary-font);
  font-style: var(--normal-style);
  font-weight: var(--medium);
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--color6);
  cursor: pointer;
  text-decoration: none;
}

.links__item:hover {
  color: var(--color1);
}

@media (max-width: 1024px) {
  .links__item {
    font-size: 12px;
    line-height: 15px;
  }
}

