.popular__link-text {
  font-family: var(--auxiliary-font);
  font-style: normal;
  font-weight: var(--medium);
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: inherit;
}

@media (max-width: 1024px) {
  .popular__link-text {
    font-size: 12px;
    line-height: 20px;
  }
}

@media (max-width: 768px) {
  .popular__link-text {
    font-size: 10px;
    line-height: 15px;
  }
}
