.carousel__item_checked {
  min-width: 338px;
  min-height: 399px;
  background-color: var(--color2);
  -webkit-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

.carousel__item_checked:hover {
  background-color: var(--color2);
}

@media (max-width: 1280px) {
  .carousel__item_checked {
    min-width: 300px;
    min-height: 350px;
  }
}

@media (max-width: 1024px) {
  .carousel__item_checked {
    min-width: 220px;
    min-height: 257px;
  }
}

@media (max-width: 768px) {
  .carousel__item_checked {
    min-width: 200px;
    min-height: 234px;
    -webkit-transform: translateX(-175px);
    -ms-transform: translateX(-175px);
    transform: translateX(-175px);
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}
