.carousel__item_checked {
  min-width: 338px;
  min-height: 399px;
  background-color: var(--color2);
  transition: background-color 0.5s ease;
}

.carousel__item_checked:hover {
  background-color: var(--color2);
}
