.trending__image-block {
  background-color: var(--color10);
  padding: 64px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

@media (max-width: 768px) {
  .trending__image-block {
    padding: 25px 150px;
  }
}

@media (max-width: 425px) {
  .trending__image-block {
    padding: 10px 120px;
  }
}
