.description__link_to_order {
  background-color: var(--color6);
  color: var(--color2);
  border-radius: 36px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
}

@media (max-width: 1024px) {
  .description__link_to_order {
    font-size: 12px;
    line-height: 20px;
  }
}

@media (max-width: 768px) {
  .description__link_to_order {
    font-size: 10px;
    line-height: 15px;
  }
}
