.about-us__description {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 90px;
  color: var(--color6);
  max-width: 702px;
  margin-bottom: 32px;
}
