.carousel__item-image {
  width: 135px;
}

@media (max-width: 1280px) {
  .carousel__item-image {
    width: 120px;
  }
}

@media (max-width: 1024px) {
  .carousel__item-image {
    width: 82px;
  }
}
