.carousel__item-image_checked {
  width: 214px;
}

@media (max-width: 1280px) {
  .carousel__item-image_checked {
    width: 190px;
  }
}

@media (max-width: 1024px) {
  .carousel__item-image_checked {
    width: 130px;
  }
}

@media (max-width: 768px) {
  .carousel__item-image_checked {
    width: 119px;
  }
}
