.description__header {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 600;
  font-size: 88px;
  line-height: 123px;
  color: var(--color6);
  max-width: 723px;
  margin-bottom: 32px;
}
