.description__link-image {
  width: 47px;
  height: 47px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  -webkit-transition: scale 0.5s ease;
  -o-transition: scale 0.5s ease;
  transition: scale 0.5s ease;
}

.description__link:hover > .description__link-image {
  scale: 120%;
}

@media (max-width: 1024px) {
  .description__link-image {
    width: 32px;
    height: 32px;
  }
}

@media (max-width: 425px) {
  .description__link-image {
    width: 30px;
    height: 30px;
  }
}
