.not-found-page {
  background-color: var(--color10);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  row-gap: 20px;
  padding: 70px;
  position: relative;
  overflow: hidden;
}

@media (max-width: 425px) {
  .not-found-page {
    row-gap: 10px;
    padding: 40px;
  }
}
