.header {
  grid-area: header;
  background-color: var(--color2);
  display: flex;
  justify-content: end;
  align-items: center;
  column-gap: 67px;
  padding: 54px 83px 105px 0;
  position: relative;
}
