.offers__form-button {
  width: 180px;
  height: 60px;
  background-color: var(--color3);
  border-radius: 46px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-transform: capitalize;
  color: var(--color2);
  border: none;
  cursor: pointer;
}
