.description__happy-customer {
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 22px 30px 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: var(--color10);
}

@media (max-width: 1024px) {
  .description__happy-customer {
    padding: 10px 20px;
  }
}

@media (max-width: 768px) {
  .description__happy-customer {
    padding: 10px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    row-gap: 10px;
  }
}
